<!doctype html>
<html ng-app="app">
<head>
	<title>ng-paste-from demo</title>
	<meta charset="utf-8">
	<!-- demo -->
	<link href="dist/main.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container" ng-controller="MainController">

		<div class="header">
			<h1>ng-paste-from demo</h1>

			<p>
				This is a demo implementation of <a href="https://github.com/DigiExam/ng-paste-from/">ng-paste-from</a>,
				an AngularJS directive to parse tabular plain text data into a model on your scope.
			</p>

			<p>The directive can use any string or regular expression as row and column separators.</p>

			<p>
				Documentation and source code for
				<a href="https://github.com/DigiExam/ng-paste-from/tree/gh-pages">this demo</a>
				and <a href="https://github.com/DigiExam/ng-paste-from/">ng-paste-from</a>.
			</p>
		</div>

		<div class="example example-implementation">
			<h2>Demo</h2>

			<div class="example-source">
				<p>This demo expects two columns: "name" and "email".</p>

				<p>
					<label for="example-copy-target">Copy this text:</label>
					<textarea id="example-copy-target" class="example-paste-target">Robin Andersson	robin.andersson@digiexam.se
Kenneth Sundqvist	kenneth.sundqvist@digiexam.se</textarea>
				</p>

				<p>
					<label for="example-paste-target">Paste in this box:</label>
					<textarea
						class="example-paste-target"
						id="example-paste-target"
						ng-paste-from="users"
						ng-paste-from-columns="['name', 'email']"
						ng-paste-from-on-paste="onPaste"
						ng-paste-from-on-validate="onValidate"
						ng-paste-from-on-error="onError"></textarea>
				</p>
			</div>

			<div class="example-errors" ng-show="errors.length">
				<h3>Parse errors</h3>

				<ul>
					<li ng-repeat="e in errors">{{e}}</li>
				</ul>
			</div>

			<div class="example-output" ng-show="users.length">
				<h3>Parsed data</h3>

				<table ng-show="users.length">
					<thead>
						<tr>
							<th>Name</th>
							<th>E-mail address</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="u in users">
							<td>{{u.name || u[0]}}</td>
							<td>{{u.email || u[1]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="example example-aside">
			<h2>Paste from Excel</h2>
			<p>You can paste directly from Excel into the directive. It will use tab characters as column separators.</p>
			<p><img src="./img/example-copy.png" alt="Screenshot of an Excel document that has two columns, name and e-mail address, that have been selected and copied to the clipboard." /></p>
		</div>

	</div>

	<!-- Demo dependencies -->
	<script src="lib/angular.js"></script>

	<!-- ng-paste-from -->
	<script src="lib/ng-paste-from-latest.min.js"></script>
	<!--<script src="lib/ng-paste-from-unstable.min.js"></script>-->

	<!-- demo -->
	<script src="dist/main.min.js"></script>

</body>
</html>
