<!doctype html>
<html ng-app="app">
<head>
	<title>ng-paste-from demo</title>
	<meta charset="utf-8">
	<link href="dist/main.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container" ng-controller="MainController">
		<div class="header">
			<h1>ng-paste-from demo</h1>

			<p>
				This is a demo implementation of <a href="https://github.com/DigiExam/ng-paste-from/">ng-paste-from</a>
			</p>

			<p>
				<a href="https://github.com/DigiExam/ng-paste-from/tree/gh-pages">Here is the source code</a> for this demo.
			</p>
		</div>

		<div>
			<h2>Demo</h2>

			<div style="margin-bottom: 20px;">
				<label for="excel-paste">Paste from Excel in this box: </label>
				<textarea
					id="excel-paste"
					ng-paste-from="users" 
					ng-paste-from-format="['name', 'email']" 
					ng-paste-from-on-validate="onValidate"
					ng-paste-from-on-error="onError"></textarea>
			</div>


			<table style="width: 400px; text-align: left;">
				<tr>
					<th>Name</th>
					<th>E-mail Address</th>
				</tr>
				<tr ng-repeat="u in users">
					<td>{{u.name}}</td>
					<td>{{u.email}}</td>
				</tr>
			</table>

			<hr />
			<h2>Help Description</h2>

			<p>The format should be name e-mail address, see:</p>

			<img src="./img/example-copy.png" alt="Example" />
			
			<p style="color: red;" ng-repeat="e in errors">{{e}}</p>
		</div>
	</div>

	<!-- Demo dependencies -->
	<script src="lib/angular.js"></script>

	<!-- ng-annotate-text -->
	<script src="lib/ng-paste-from-latest.min.js"></script>

	<!-- demo -->
	<script src="dist/main.min.js"></script>

</body>
</html>
