$color-text: #333;
$color-bg: #fff;
$color-bg-alt: #eee;
$color-border: #aaa;

$color-error: #C00;

$fontSize: 14px;
$lineHeight: 1.42858; // 20.00012px

$fontSize-small: 13px;
$lineHeight-small: 1.53847; // 20.00011px

$fontFamily-sansSerif: "Helvetica neue", Helvetica, Arial, sans-serif;
$fontFamily-serif: Georgia, serif;

$space: round($fontSize * $lineHeight);

[ng-cloak] {
	display: none !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 5%;
	color: $color-text;
	background: $color-bg;
	font: $fontSize#{"/"}$lineHeight $fontFamily-sansSerif;
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea {
	font: inherit;
}

p {
	margin-bottom: $space;
}

.container {
	margin: 0 auto;
	max-width: 60em;
}

.header {
	margin-bottom: $space * 2;

	h1 {
		margin-bottom: $space * 2;
		font: normal ($space * 2)#{"/"}1 $fontFamily-serif;
	}
}

.example {
	margin-bottom: $space * 2;
	overflow: hidden;

	h2,
	h3 {
		margin-bottom: $space;
	}
}

.example-source,
.example-errors,
.example-output {
	margin-bottom: $space;
}

.example-aside {
	margin-top: $space * 2;

	h3 {
		font-weight: normal;
	}

	ul {
		margin-left: 15px; // Should align the bullets with the summary spine
		font-size: $fontSize-small;
		line-height: $lineHeight-small;
	}

	li {
		margin-bottom: $space / 2;
	}
}

.example-paste-target {
	width: 100%;
	height: $lineHeight * 3em;
	margin-top: $space / 4;
	padding: $space / 4;
	color: $color-text;
	background: $color-bg;
	border: 1px solid $color-border;
	border-radius: $space / 4;
	font-size: $fontSize-small;
	resize: none;
}

.example-output {
	text-align: left;

	table {
		width: 100%;
		border-collapse: collapse;
		word-break: break-all;
	}

	tbody tr:nth-child(odd) {
		background: $color-bg-alt;
	}

	th,
	td {
		padding: ($space / 4);
		padding-right: $space;
	}
}

.example-errors ul {
	color: $color-error;
}

@media only screen and (min-width: 45em) {
	.example-implementation {
		float: left;
		width: 60%;
		padding-right: $space * 4;
	}

	.example-aside {
		float: left;
		width: 40%;
		margin-top: 0;
	}
}
